<div class="user-profile">

  <!-- Add Faculty Modal -->
  <div class="modal fade"
       id="addFacultyModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="addFacultyModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="section-heading">
            <h2 class="pull-left">Update Basic Information</h2>
            <div class="pull-right">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="app-icon-IconSet-1-12"></i></button>
            </div>
          </div>
          <div class="clearfix"></div>
          
          
        </div>
        <div class="modal-body">

         Name: {{ this.username }}

          <form #facultyForm="ngForm">
            <!-- Phone Number -->
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="text"
                     class="form-control"
                     id="phone"
                     name="phone"
                     [(ngModel)]="faculty.phone"
                     required />
              <div *ngIf="facultyForm.controls.phone?.errors?.required && facultyForm.controls.phone?.touched" class="text-danger">Phone Number is required </div>

            </div>
            <!-- Faculty Type -->
            <div class="form-group">
              <label for="FacultyType">Faculty Type</label>
              <select class="form-control"
                      id="FacultyType"
                      name="FacultyType"
                      [(ngModel)]="faculty.FacultyType"
                      required>


                <option value="" disabled selected>Select Faculty Type</option>
                <option *ngFor="let type of FacultyType" [value]="type">
                  {{ type }}
                </option>
              </select>

              <div *ngIf="facultyForm.controls.FacultyType?.errors?.required && facultyForm.controls.FacultyType?.touched" class="text-danger">Faculty Type is required </div>

            </div>
            <!-- Faculty Role -->

            <div class="form-group">


              <label for="FacultyRole">Faculty Role</label>
              <select class="form-control"
                      id="FacultyRole"
                      name="FacultyRole"
                      [(ngModel)]="faculty.FacultyRole"
                      required>
                <option value="" disabled selected>Select Faculty Role</option>
                <option *ngFor="let role of FacultyRole" [value]="role">
                  {{ role }}
                </option>
              </select>
              <div *ngIf="facultyForm.controls.FacultyRole?.errors?.required && facultyForm.controls.FacultyRole?.touched" class="text-danger">Faculty Role is required </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal">
            Cancel
          </button>
          <button  type="button"
                  class="btn btn-primary"
                  (click)="addFaculty()" [disabled]="!facultyForm.valid">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
 
  <div *ngIf="facultydata">
    <!--<div class="section-heading">
      <h2 class="">User Profile</h2>
      </div>
    <div class="clearfix"></div>-->
      <fieldset class="margin-b15">
        <legend>Basic Information</legend>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td style="width:30%"><strong>Name:</strong></td>
              <td>{{ this.username }}</td>
            </tr>


            <tr>
              <td style="width:30%"><strong>Email :</strong></td>
              <td>{{ facultydata[0]?.Email  }}</td>
            </tr>
            <tr>
              <td style="width:30%"><strong>Phone Number:</strong></td>
              <td>{{ facultydata[0]?.Phone }}</td>
            </tr>
            <tr>
              <td style="width:30%"><strong>Faculty Type:</strong></td>



              <td>{{ facultydata[0]?.FacultyType }}</td>
            </tr>





            <tr>





              <td style="width:30%"><strong>Role:</strong></td>
              <td>{{ facultydata[0]?.FacultyRole }}</td>

            </tr>

          </tbody>
        </table>

        <div class="pull-right">

          <!--<button type="button" class="btn btn-info" (click)="openFacultyModal()" data-toggle="modal" data-target="#addFacultyModal">
          Update Data
        </button>-->
          <button type="button" class="btn btn-info" (click)="openFacultyModal()">
            Update Data
          </button>
        </div>
      </fieldset>
    </div>



  </div>
