<div style="clear:both"></div>
<div id="body">

  <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
      <span class="navbar-brand color-white">
        <img src="/assets/images/Bahria-Uni.png" height="65" width="95" alt="logo" />
        <b>Welcome to OBE Portal <p style="margin-left: 102px;margin-top: -25px;font-size: 35px;font-weight: bold;">Bahria University</p> </b>
      </span>
    </div>
  </nav>
  <div class="password-reset-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input id="oldPassword"
               type="password"
               formControlName="oldPassword"
               class="form-control"
               placeholder="Enter your old password" />
        <div *ngIf="resetPasswordForm.controls['oldPassword'].invalid && resetPasswordForm.controls['oldPassword'].touched">
          <small class="error-text" *ngIf="resetPasswordForm.controls['oldPassword'].hasError('required')">
            Old password is required.
          </small>
          <small class="error-text" *ngIf="resetPasswordForm.controls['oldPassword'].hasError('minlength')">
            Password must be at least 6 characters long.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword"
               type="password"
               formControlName="newPassword"
               class="form-control"
               placeholder="Enter your new password" />
        <div *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched">
          <small class="error-text" *ngIf="resetPasswordForm.controls['newPassword'].hasError('required')">
            New password is required.
          </small>
          <small class="error-text" *ngIf="resetPasswordForm.controls['newPassword'].hasError('minlength')">
            Password must be at least 6 characters long.
          </small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </form>
  </div>




  <footer class="footer-fixed">
    <article style="background: #025a99 !important;">
      <div class="card-body text-center">
        <h5 class="text-white">Outcome-Based Education <br> Powered By Bahria University </h5>
      </div>
    </article>
  </footer>
</div>
