<div role="tabpanel" class="tab-pane active" id="IndirectAssessment-tab">



  <div class="row margin-b15">
    <div class="col-sm-12 col-lg-12">
      <fieldset class="padding-b5">
        <legend>Criteria</legend>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Institute</label>
            <select class="form-control" (change)="Get_Department($event.target.value)" [ngModel]="Temp_Institute_ID" [attr.disabled]="Temp_Institute_ID != 0  ? 'disabled' : null">
              <option value="0">Select Institute</option>
              <option value="{{i.InstituteID}}" *ngFor="let i of Institutes">{{i.InstituteShortName}}</option>
            </select>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label">Deparment</label>
            <select class="form-control" (change)="Get_Programs($event.target.value)" [ngModel]="Temp_Deaprtment_ID" [attr.disabled]="Temp_Deaprtment_ID != 0  ? 'disabled' : null">
              <option value="0">Select Deparment</option>
              <option value="{{i.DepartmentID}}" *ngFor="let i of Department">{{i.DepartmentName}}</option>
            </select>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label">Select Program <span class="text-danger">*</span></label>
            <select class="form-control" (change)="Get_Intakes($event.target.value)" id="ProgramID">
              <option value="0">Select Program</option>
              <option value="{{i.ProgramID}}" *ngFor="let i of Programs">{{i.ProgramName}}</option>
            </select>
          </div>


          <div class="form-group col-sm-3">
            <label class="control-label">Intake</label>
            <select class="form-control" (change)="GetIntakeStudents($event.target.value)">
              <option value="0">Select Intake</option>
              <option value="{{i.AdmissionOpenProgramID}}" *ngFor="let i of Intake">{{i.semesterAlia}}</option>
            </select>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label">Student</label>
            <select class="form-control" (change)="ResetAllForms()" [(ngModel)]="StudentID">
              <option value="0">Select Student</option>
              <option value="{{i.StudentID}}" *ngFor="let i of IntakeStudent">{{i.Name}} ({{i.Enrollment}} )</option>
            </select>
          </div>
          <!--<div class="col-sm-2 margin-t17">
            <button class="btn btn-info">Search</button>
          </div>-->
        </div>
      </fieldset>
    </div>
  </div>

  <div class="section-heading padding-b30">
    <h2 class="pull-left">Surveys</h2>
    <a class="btn btn-info link_custom pull-right " [routerLink]="['Survey']"> Add survey</a>
  </div>

  <div class="section-tabs no-margin">
    <div class="tabs-head">
      <ul class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active"> <a aria-expanded="true" href="#CSP" role="tab" data-toggle="tab">CSP</a> </li>
        <li role="presentation"> <a aria-expanded="true" href="#Internship" role="tab" data-toggle="tab">Internship Survey Form</a> </li>
        <li role="presentation"> <a aria-expanded="true" href="#Exit" role="tab" data-toggle="tab">Exit Survey Form</a> </li>
        <li role="presentation"> <a aria-expanded="true" href="#Employer" role="tab" data-toggle="tab">Employer</a> </li>
        <li role="presentation"> <a aria-expanded="true" href="#Alumni" role="tab" data-toggle="tab">Alumni</a> </li>

      </ul>
    </div>
    <div class="tab-content">


      <div role="tabpanel" class="tab-pane active" id="CSP">
        <div class="col-sm-12">

          <div *ngIf="CSPSurveyData">

            <form [formGroup]="cSPSurveyForm" (ngSubmit)="submitCSPSurvey()">
              <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
                <table class="table table-hover table-theme">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Statement</th>
                      <th>Mapping</th>
                      <th>Answer</th>


                    </tr>

                  </thead>
                  <!--<div *ngFor="let question of SurveyData.Questions">-->
                  <tbody>
                    <tr *ngFor="let question of CSPSurveyData.Questions;let i=index;">

                      <ng-container *ngIf="question.Section==='Header'">
                        <td class="text-center">{{i+1}}</td>
                        <td> <label>{{ question.Question }}</label></td>
                        <td class="text-center">{{ question.Mapping }}</td>
                        <td>
                          <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />
                          <textarea rows="6" *ngIf="question.QType === 'Remarks'" type="text" [formControlName]="question.QID"></textarea>
                          <!-- Radio Buttons for Multiple Choice -->
                          <div *ngIf="question.QType === 'Multiple Choice'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                              <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                              <label class="cursor-pointer">{{ option.Options }}</label>

                            </div>
                          </div>
                          <div *ngIf="question.QType === 'Likert'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let num of [1, 2, 3, 4, 5]">
                              <input type="radio" [formControlName]="question.QID" name="question.QID" [value]="num">
                              <label class="cursor-pointer">{{ num }}</label>

                            </div>

                          </div>
                        </td>


                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <h4 class="text-center">
                <b>Please respond to the following by selecting the most appropriate choice for candidate</b>
                <br />
                <b>5: Very strong	   4: Strong	3: Moderate	  2: Weak	1: very Weak       0: Not applicable</b>
              </h4>
              <hr />
              <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
                <table class="table table-hover table-theme">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Statement</th>
                      <th>Mapping</th>
                      <th>5</th>
                      <th>4</th>
                      <th>3</th>
                      <th>2</th>
                      <th>1</th>


                    </tr>

                  </thead>
                  <!--<div *ngFor="let question of SurveyData.Questions">-->
                  <tbody>
                    <tr *ngFor="let question of CSPSurveyData.Questions; let i=index;">
                      <ng-container *ngIf="question.Section==='Main'">
                        <td>{{i+1}}</td>
                        <td> <label>{{ question.Question }}</label></td>
                        <td class="text-center">{{ question.Mapping }}</td>
                        <td *ngIf="question.QType != 'Likert'">
                          <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                          <!-- Radio Buttons for Multiple Choice -->
                          <div *ngIf="question.QType === 'Multiple Choice'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                              <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                              <label class="cursor-pointer">{{ option.Options }}</label>

                            </div>
                          </div>

                        </td>



                        <ng-container class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">

                          <td>
                            <div *ngIf="question.QType === 'Likert'" class="text-center">
                              <input type="radio" [formControlName]="question.QID" [value]="num">
                              <label class="cursor-pointer"></label>

                            </div>
                          </td>
                        </ng-container>


                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <div *ngFor="let question of CSPSurveyData.Questions" class="col-sm-12">
                <ng-container *ngIf="question.Section==='Footer'">
                  <div> <label>{{ question.Question }}</label></div>

                  <div class="col-sm-12">
                    <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                    <textarea rows="6" class="width-100p" *ngIf="question.QType === 'Remarks'" type="text" [formControlName]="question.QID"></textarea>
                    <!-- Radio Buttons for Multiple Choice -->
                    <div *ngIf="question.QType === 'Multiple Choice'">

                      <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                        <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                        <label class="cursor-pointer">{{ option.Options }}</label>

                      </div>
                    </div>
                    <div *ngIf="question.QType === 'Likert'">

                      <div class="pull-left radio-inline padding-t5" *ngFor="let num of [1, 2, 3, 4, 5]">
                        <input type="radio" [formControlName]="question.QID" name="question.QID" [value]="num">
                        <label class="cursor-pointer">{{ num }}</label>

                      </div>

                    </div>
                  </div>


                </ng-container>
              </div>







              <button class="btn btn-primary pull-right margin-t20" type="submit" [disabled]="cSPSurveyForm.invalid">Submit</button>
            </form>
          </div>




        </div>
      </div>
      <div role="tabpanel" class="tab-pane " id="Exit">
        <div class="col-sm-12">

          <div *ngIf="ExitSurveyData">

            <form [formGroup]="exitSurveyForm" (ngSubmit)="submitExitSurvey()">
              <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
                <table class="table table-hover table-theme">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Statement</th>
                      <th>Mapping</th>
                      <th>Answer</th>


                    </tr>

                  </thead>
                  <!--<div *ngFor="let question of SurveyData.Questions">-->
                  <tbody>
                    <tr *ngFor="let question of ExitSurveyData.Questions;let i=index;">

                      <ng-container *ngIf="question.Section==='Header'">
                        <td class="text-center">{{i+1}}</td>
                        <td> <label>{{ question.Question }}</label></td>
                        <td class="text-center">{{ question.Mapping }}</td>
                        <td>
                          <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />
                          <textarea rows="6" *ngIf="question.QType === 'Remarks'" type="text" [formControlName]="question.QID"></textarea>
                          <!-- Radio Buttons for Multiple Choice -->
                          <div *ngIf="question.QType === 'Multiple Choice'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                              <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                              <label class="cursor-pointer">{{ option.Options }}</label>

                            </div>
                          </div>
                          <div *ngIf="question.QType === 'Likert'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">
                              <input type="radio" [formControlName]="question.QID" name="question.QID" [value]="num">
                              <label class="cursor-pointer">{{ num }}</label>

                            </div>

                          </div>
                        </td>


                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <h4 class="text-center">
                <b>Please respond to the following by selecting the most appropriate choice for candidate</b>
                <br />
                <b>5: Very strong	   4: Strong	3: Moderate	  2: Weak	1: very Weak       0: Not applicable</b>
              </h4>
              <hr />
              <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
                <table class="table table-hover table-theme">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Statement</th>
                      <th>Mapping</th>
                      <th>5</th>
                      <th>4</th>
                      <th>3</th>
                      <th>2</th>
                      <th>1</th>


                    </tr>

                  </thead>
                  <!--<div *ngFor="let question of SurveyData.Questions">-->
                  <tbody>
                    <tr *ngFor="let question of ExitSurveyData.Questions; let i=index;">
                      <ng-container *ngIf="question.Section==='Main'">
                        <td>{{i}}</td>
                        <td> <label>{{ question.Question }}</label></td>
                        <td class="text-center">{{ question.Mapping }}</td>
                        <td *ngIf="question.QType != 'Likert'">
                          <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                          <!-- Radio Buttons for Multiple Choice -->
                          <div *ngIf="question.QType === 'Multiple Choice'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                              <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                              <label class="cursor-pointer">{{ option.Options }}</label>

                            </div>
                          </div>

                        </td>



                        <ng-container class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">

                          <td>
                            <div *ngIf="question.QType === 'Likert'" class="text-center">
                              <input type="radio" [formControlName]="question.QID" [value]="num">
                              <label class="cursor-pointer"></label>

                            </div>
                          </td>
                        </ng-container>


                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <div *ngFor="let question of ExitSurveyData.Questions" class="col-sm-12">
                <ng-container *ngIf="question.Section==='Footer'">
                  <div> <label>{{ question.Question }}</label></div>

                  <div class="col-sm-12">
                    <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                    <textarea rows="6" class="width-100p" *ngIf="question.QType === 'Remarks'" type="text" [formControlName]="question.QID"></textarea>
                    <!-- Radio Buttons for Multiple Choice -->
                    <div *ngIf="question.QType === 'Multiple Choice'">

                      <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                        <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                        <label class="cursor-pointer">{{ option.Options }}</label>

                      </div>
                    </div>
                    <div *ngIf="question.QType === 'Likert'">

                      <div class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">
                        <input type="radio" [formControlName]="question.QID" name="question.QID" [value]="num">
                        <label class="cursor-pointer">{{ num }}</label>

                      </div>

                    </div>
                  </div>


                </ng-container>
              </div>








              <button class="btn btn-primary pull-right margin-t20" type="submit" [disabled]="exitSurveyForm.invalid">Submit</button>
            </form>
          </div>




        </div>
      </div>
      <div role="tabpanel" class="tab-pane " id="Internship">
        <div class="col-sm-12">

          <div *ngIf="InternshipSurveyData">

            <form [formGroup]="internshipSurveyForm" (ngSubmit)="submitInternshipSurvey()">
              <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
                <table class="table table-hover table-theme">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Statement</th>
                      <th>Mapping</th>
                      <th>Answer</th>


                    </tr>

                  </thead>
                  <!--<div *ngFor="let question of SurveyData.Questions">-->
                  <tbody>
                    <tr *ngFor="let question of InternshipSurveyData.Questions;let i=index;">

                      <ng-container *ngIf="question.Section==='Header'">
                        <td class="text-center">{{i+1}}</td>
                        <td> <label>{{ question.Question }}</label></td>
                        <td class="text-center">{{ question.Mapping }}</td>
                        <td>
                          <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />
                          <textarea rows="6" *ngIf="question.QType === 'Remarks'" type="text" [formControlName]="question.QID"></textarea>
                          <!-- Radio Buttons for Multiple Choice -->
                          <div *ngIf="question.QType === 'Multiple Choice'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                              <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                              <label class="cursor-pointer">{{ option.Options }}</label>

                            </div>
                          </div>
                          <div *ngIf="question.QType === 'Likert'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">
                              <input type="radio" [formControlName]="question.QID" name="question.QID" [value]="num">
                              <label class="cursor-pointer">{{ num }}</label>

                            </div>

                          </div>
                        </td>


                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <h4 class="text-center">
                <b>Please respond to the following by selecting the most appropriate choice for candidate</b>
                <br />
                <b>5: Very strong	   4: Strong	3: Moderate	  2: Weak	1: very Weak       0: Not applicable</b>
              </h4>
              <hr />
              <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
                <table class="table table-hover table-theme">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Statement</th>
                      <th>Mapping</th>
                      <th>5</th>
                      <th>4</th>
                      <th>3</th>
                      <th>2</th>
                      <th>1</th>


                    </tr>

                  </thead>
                  <!--<div *ngFor="let question of SurveyData.Questions">-->
                  <tbody>
                    <tr *ngFor="let question of InternshipSurveyData.Questions; let i=index;">
                      <ng-container *ngIf="question.Section==='Main'">
                        <td>{{i}}</td>
                        <td> <label>{{ question.Question }}</label></td>
                        <td class="text-center">{{ question.Mapping }}</td>
                        <td *ngIf="question.QType != 'Likert'">
                          <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                          <!-- Radio Buttons for Multiple Choice -->
                          <div *ngIf="question.QType === 'Multiple Choice'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                              <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                              <label class="cursor-pointer">{{ option.Options }}</label>

                            </div>
                          </div>

                        </td>



                        <ng-container class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">

                          <td>
                            <div *ngIf="question.QType === 'Likert'" class="text-center">
                              <input type="radio" [formControlName]="question.QID" [value]="num">
                              <label class="cursor-pointer"></label>

                            </div>
                          </td>
                        </ng-container>


                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <div *ngFor="let question of InternshipSurveyData.Questions" class="col-sm-12">
                <ng-container *ngIf="question.Section==='Footer'">
                  <div> <label>{{ question.Question }}</label></div>

                  <div class="col-sm-12">
                    <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                    <textarea rows="6" class="width-100p" *ngIf="question.QType === 'Remarks'" type="text" [formControlName]="question.QID"></textarea>
                    <!-- Radio Buttons for Multiple Choice -->
                    <div *ngIf="question.QType === 'Multiple Choice'">

                      <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                        <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                        <label class="cursor-pointer">{{ option.Options }}</label>

                      </div>
                    </div>
                    <div *ngIf="question.QType === 'Likert'">

                      <div class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">
                        <input type="radio" [formControlName]="question.QID" name="question.QID" [value]="num">
                        <label class="cursor-pointer">{{ num }}</label>

                      </div>

                    </div>
                  </div>


                </ng-container>
              </div>








              <button class="btn btn-primary pull-right margin-t20" type="submit" [disabled]="internshipSurveyForm.invalid">Submit</button>
            </form>
          </div>




        </div>
      </div>
      <div role="tabpanel" class="tab-pane " id="Alumni">
        <div class="col-sm-12">

          <div *ngIf="AlumniSurveyData">

            <form [formGroup]="alumniSurveyForm" (ngSubmit)="submitAlumniSurvey()">
              <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
                <table class="table table-hover table-theme">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Statement</th>
                      <th>Mapping</th>
                      <th>Answer</th>


                    </tr>

                  </thead>
                  <!--<div *ngFor="let question of SurveyData.Questions">-->
                  <tbody>
                    <tr *ngFor="let question of AlumniSurveyData.Questions;let i=index;">

                      <ng-container *ngIf="question.Section==='Header'">
                        <td class="text-center">{{i+1}}</td>
                        <td> <label>{{ question.Question }}</label></td>
                        <td class="text-center">{{ question.Mapping }}</td>
                        <td>
                          <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />
                          <textarea rows="6" *ngIf="question.QType === 'Remarks'" type="text" [formControlName]="question.QID"></textarea>
                          <!-- Radio Buttons for Multiple Choice -->
                          <div *ngIf="question.QType === 'Multiple Choice'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                              <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                              <label class="cursor-pointer">{{ option.Options }}</label>

                            </div>
                          </div>
                          <div *ngIf="question.QType === 'Likert'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">
                              <input type="radio" [formControlName]="question.QID" name="question.QID" [value]="num">
                              <label class="cursor-pointer">{{ num }}</label>

                            </div>

                          </div>
                        </td>


                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <h4 class="text-center">
                <b>Please respond to the following by selecting the most appropriate choice for candidate</b>
                <br />
                <b>5: Very strong	   4: Strong	3: Moderate	  2: Weak	1: very Weak       0: Not applicable</b>
              </h4>
              <hr />
              <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
                <table class="table table-hover table-theme">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Statement</th>
                      <th>Mapping</th>
                      <th>5</th>
                      <th>4</th>
                      <th>3</th>
                      <th>2</th>
                      <th>1</th>


                    </tr>

                  </thead>
                  <!--<div *ngFor="let question of SurveyData.Questions">-->
                  <tbody>
                    <tr *ngFor="let question of AlumniSurveyData.Questions; let i=index;">
                      <ng-container *ngIf="question.Section==='Main'">
                        <td>{{i}}</td>
                        <td> <label>{{ question.Question }}</label></td>
                        <td class="text-center">{{ question.Mapping }}</td>
                        <td *ngIf="question.QType != 'Likert'">
                          <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                          <!-- Radio Buttons for Multiple Choice -->
                          <div *ngIf="question.QType === 'Multiple Choice'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                              <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                              <label class="cursor-pointer">{{ option.Options }}</label>

                            </div>
                          </div>

                        </td>



                        <ng-container class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">

                          <td>
                            <div *ngIf="question.QType === 'Likert'" class="text-center">
                              <input type="radio" [formControlName]="question.QID" [value]="num">
                              <label class="cursor-pointer"></label>

                            </div>
                          </td>
                        </ng-container>


                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <div *ngFor="let question of AlumniSurveyData.Questions" class="col-sm-12">
                <ng-container *ngIf="question.Section==='Footer'">
                  <div> <label>{{ question.Question }}</label></div>

                  <div class="col-sm-12">
                    <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                    <textarea rows="6" class="width-100p" *ngIf="question.QType === 'Remarks'" type="text" [formControlName]="question.QID"></textarea>
                    <!-- Radio Buttons for Multiple Choice -->
                    <div *ngIf="question.QType === 'Multiple Choice'">

                      <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                        <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                        <label class="cursor-pointer">{{ option.Options }}</label>

                      </div>
                    </div>
                    <div *ngIf="question.QType === 'Likert'">

                      <div class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">
                        <input type="radio" [formControlName]="question.QID" name="question.QID" [value]="num">
                        <label class="cursor-pointer">{{ num }}</label>

                      </div>

                    </div>
                  </div>


                </ng-container>
              </div>








              <button class="btn btn-primary pull-right margin-t20" type="submit" [disabled]="alumniSurveyForm.invalid">Submit</button>
            </form>
          </div>




        </div>
      </div>
      <div role="tabpanel" class="tab-pane " id="Employer">
        <div class="col-sm-12">

          <div *ngIf="EmployerSurveyData">

            <form [formGroup]="employerSurveyForm" (ngSubmit)="submitEmployerSurvey()">
              <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
                <table class="table table-hover table-theme">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Statement</th>
                      <th>Mapping</th>
                      <th>Answer</th>


                    </tr>

                  </thead>
                  <!--<div *ngFor="let question of SurveyData.Questions">-->
                  <tbody>
                    <tr *ngFor="let question of EmployerSurveyData.Questions;let i=index;">

                      <ng-container *ngIf="question.Section==='Header'">
                        <td class="text-center">{{i+1}}</td>
                        <td> <label>{{ question.Question }}</label></td>
                        <td class="text-center">{{ question.Mapping }}</td>
                        <td>
                          <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />
                          <textarea rows="6" *ngIf="question.QType === 'Remarks'" type="text" [formControlName]="question.QID"></textarea>
                          <!-- Radio Buttons for Multiple Choice -->
                          <div *ngIf="question.QType === 'Multiple Choice'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                              <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                              <label class="cursor-pointer">{{ option.Options }}</label>

                            </div>
                          </div>
                          <div *ngIf="question.QType === 'Likert'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">
                              <input type="radio" [formControlName]="question.QID" name="question.QID" [value]="num">
                              <label class="cursor-pointer">{{ num }}</label>

                            </div>

                          </div>
                        </td>


                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <h4 class="text-center">
                <b>Please respond to the following by selecting the most appropriate choice for candidate</b>
                <br />
                <b>5: Very strong	   4: Strong	3: Moderate	  2: Weak	1: very Weak       0: Not applicable</b>
              </h4>
              <hr />
              <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
                <table class="table table-hover table-theme">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Statement</th>
                      <th>Mapping</th>
                      <th>5</th>
                      <th>4</th>
                      <th>3</th>
                      <th>2</th>
                      <th>1</th>


                    </tr>

                  </thead>
                  <!--<div *ngFor="let question of SurveyData.Questions">-->
                  <tbody>
                    <tr *ngFor="let question of EmployerSurveyData.Questions; let i=index;">
                      <ng-container *ngIf="question.Section==='Main'">
                        <td>{{i}}</td>
                        <td> <label>{{ question.Question }}</label></td>
                        <td class="text-center">{{ question.Mapping }}</td>
                        <td *ngIf="question.QType != 'Likert'">
                          <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                          <!-- Radio Buttons for Multiple Choice -->
                          <div *ngIf="question.QType === 'Multiple Choice'">

                            <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                              <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                              <label class="cursor-pointer">{{ option.Options }}</label>

                            </div>
                          </div>

                        </td>



                        <ng-container class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">

                          <td>
                            <div *ngIf="question.QType === 'Likert'" class="text-center">
                              <input type="radio" [formControlName]="question.QID" [value]="num">
                              <label class="cursor-pointer"></label>

                            </div>
                          </td>

                        </ng-container>



                      </ng-container>
                    </tr>

                  </tbody>
                </table>
              </div>
              <hr />
              <div *ngFor="let question of EmployerSurveyData.Questions" class="col-sm-12">
                <ng-container *ngIf="question.Section==='Footer'">
                  <div> <label>{{ question.Question }}</label></div>

                  <div class="col-sm-12">
                    <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                    <textarea rows="6" class="width-100p" *ngIf="question.QType === 'Remarks'" type="text" [formControlName]="question.QID"></textarea>
                    <!-- Radio Buttons for Multiple Choice -->
                    <div *ngIf="question.QType === 'Multiple Choice'">

                      <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                        <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                        <label class="cursor-pointer">{{ option.Options }}</label>

                      </div>
                    </div>


                    <ng-container class="pull-left radio-inline padding-t5" *ngFor="let num of ['5','4','3','2','1']">


                      <div *ngIf="question.QType === 'Likert'" class="text-center">
                        <input type="radio" [formControlName]="question.QID" [value]="num">
                        <label class="cursor-pointer"></label>

                      </div>

                    </ng-container>


                  </div>


                </ng-container>
              </div>








              <button class="btn btn-primary pull-right margin-t20" type="submit" [disabled]="employerSurveyForm.invalid">Submit</button>
            </form>
          </div>




        </div>
      </div>

    </div>
  </div>
</div>

