<div role="tabpanel" class="tab-pane active" id="scheduler-tab">

  <app-search  (searchEmit)="receiveData($event)"></app-search>
  <div class="section-tabs no-margin">
    <div class="tabs-head">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"> <a aria-expanded="true" href="#Vision" role="tab" data-toggle="tab">Vision</a> </li>
        <li role="presentation"> <a aria-expanded="true" href="#Mission" aria-controls="scheduler-weekly" role="tab" data-toggle="tab">Mission</a> </li>
        <li role="presentation"> <a aria-expanded="true" href="#Software-Engineering" aria-controls="scheduler-weekly" role="tab" data-toggle="tab">PEO-BSE</a> </li>
        <li role="presentation"> <a aria-expanded="true" href="#Electrical-Engineering" aria-controls="scheduler-weekly" role="tab" data-toggle="tab">PEO-BEE</a> </li>
        <li role="presentation"> <a aria-expanded="true" href="#Computer-Engineering" aria-controls="scheduler-weekly" role="tab" data-toggle="tab">PEO-BCE</a> </li>
        <li role="presentation"> <a aria-expanded="true" href="#PLOs" aria-controls="scheduler-weekly" role="tab" data-toggle="tab">Program Learning Outcomes (PLOs)</a> </li>
        <li role="presentation"> <a aria-expanded="true" href="#Bloom" aria-controls="scheduler-weekly" role="tab" data-toggle="tab">Learning Domains</a> </li>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="Vision">
        
        <h4 class="text-center">To become a knowledge and creativity driven international university that contributes towards development of society.</h4>
      </div>
      <div role="tabpanel" class="tab-pane" id="Mission">
        <h4 class="text-center">To ensure academic excellence through deliverance of quality education and applied research in a collegiate environment having strong linkages with industry and international community to meet the societal challenges.</h4>
      </div>
      <div role="tabpanel" class="tab-pane" id="Software-Engineering">
        <ng-container  *ngFor="let PLO of Added_Intake_PLOs">
          <h1>PLOs</h1>
          <p><b>{{PLO.PLO_Title}}</b></p>

        </ng-container>
        <h1>PEOs.</h1>
        <p> <b>PEO-1:</b>Graduates should demonstrate competence in applying Software Engineering principles & practices in various phases of software/system development life cycle in their respective professional career.</p>
        <p> <b>PEO-2:</b>Graduates should demonstrate effective team member or leadership skills with strong managerial skills and a sound sense of social responsibility for the sustainable development of society.</p>
        <p> <b>PEO-3:</b>Graduates should demonstrate sustained career development and progression through ethical engineering practices, effective communication skills and continuous learning.</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="Electrical-Engineering">
        <h1>PEOs.</h1>
        <p> <b>PEO-1:</b>To exhibit the expertise in the field of electrical engineering to compete with technical challenges and find the solutions of complex engineering problems.</p>
        <p> <b>PEO-2:</b>To be skillful employable graduates in different domains of design, development, operation and maintenance, as well as explore opportunities for entrepreneurship.</p>
        <p> <b>PEO-3:</b>To pursue professional growth by taking up higher studies, ascertain technologies, develop proficiency in the usage of new tools.</p>
        <p> <b>PEO-4:</b>To work in multicultural environment and communities, providing leadership in their domain, and responsive to ethical, moral, and societal issues.</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="Computer-Engineering">
        <h1>PEOs.</h1>
        <p> <b>PEO-1:</b>Attain an ability to identify and solve challenging problems in their professions by applying theory, principles and modern tools learnt during degree program.</p>
        <p> <b>PEO-2:</b>Demonstrate effective communication as an individual or team player with strong managerial and entrepreneurial skills.</p>
        <p> <b>PEO-3:</b>Maintain highest ethical and professional standards in pursuing their careers.</p>
        <p> <b>PEO-4:</b>Engage in life-long learning to continually polish their professional capabilities for their personal growth and the betterment of society.</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="PLOs">
        <p> <b>PLO 1 Engineering Knowledge:</b>An ability to apply knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.</p>
        <p> <b>PLO 2 Problem Analysis:</b>An ability to identify, formulate, research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences and engineering sciences.</p>
        <p> <b>PLO 3 Design/Development of Solutions:</b>An ability to design solutions for complex engineering problems and design systems, components or processes that meet specified needs with appropriate consideration for public health and safety, cultural, societal, and environmental considerations.</p>
        <p> <b>PLO 4 Investigation:</b>An ability to investigate complex engineering problems in a methodical way including literature survey, design and conduct of experiments, analysis and interpretation of experimental data, and synthesis of information to derive valid conclusions. </p>
        <p> <b>PLO 5 Modern Tool Usage:</b>An ability to create, select and apply appropriate techniques, resources, and modern engineering and IT tools, including prediction and modeling, to complex engineering activities, with an understanding of the limitations.</p>
        <p> <b>PLO 6 The Engineer and Society:</b>An ability to apply reasoning informed by contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to professional engineering practice and solution to complex engineering problems.</p>
        <p> <b>PLO 7 Environment and Sustainability:</b>An ability to understand the impact of professional engineering solutions in societal and environmental contexts and demonstrate knowledge of and need for sustainable development.</p>
        <p> <b>PLO 8 Ethics:</b>Apply ethical principles and commit to professional ethics and responsibilities and norms of engineering practice.</p>
        <p> <b>PLO 9 Individual and Team Work:</b>An ability to work effectively, as an individual or in a team, on multifaceted and /or multidisciplinary settings.</p>
        <p> <b>PLO 10 Communication:</b>An ability to communicate effectively, orally as well as in writing, on complex engineering activities with the engineering community and with society at large, such as being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions.</p>
        <p> <b>PLO 11 Project Management:</b>An ability to demonstrate management skills and apply engineering principles to one’s own work, as a member and/or leader in a team, to manage projects in a multidisciplinary environment.</p>
        <p> <b>PLO 12 Lifelong Learning:</b>An ability to recognize the need for, and have the preparation and ability to engage in, independent and life-long learning in the broadest context of technological change.</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="Bloom">
        <h3>Cognitive:</h3>
        <ul class="margin-l30">
          <li><b>Knowledge:</b> Knowledge is the ability to recall data and/or information. <br /><b>Key Words: (Define,Describe,Identify,Label,List,Name,Recognize,Recall,Repeat,State)</b></li>
          <li><b>Comprehension:</b> Comprehension is the ability to understand the meaning of what is known. <br /><b>Key Words: (Characterize,Classify,Convert,Defend,Discuss,Distinguish,Establish,Estimate,Explain,Express,Extend,Generalized,Illustrate,Indicate,Infer,Locate,Paraphrase,Predict,Recognize,Relate,Review,Rewrite,Summarize,Translate)</b></li>
          <li><b>Application:</b> Application is the ability to utilize an abstraction or to use knowledge in a new situation.<br /><b>Key Words:  (,Apply,Change,Choose,Compute,Demonstrate,Discover,Dramatize,Employ,Interpret,Manipulate,Model,Modify,Operate,Practice,Predict,Prepare,Produce,Relate,Schedule,Show,Sketch,Solve,Use,Write)</b></li>
          <li><b>Analysis:</b> the ability to differentiate facts and opinions. <br /><b>Key Words: (Analyze ,Appraise ,Breakdown ,Calculate ,Categorize ,Compare ,Contrast ,Criticize ,Diagram ,Differentiate ,Discriminate ,Distinguish ,Examine ,Experiment ,Identify ,Illustrate ,Infer ,Model ,Outline ,Point out ,Question ,Relate ,Select ,Separate ,Subdivide ,Test)</b></li>
          <li><b>Synthesis:</b> Synthesis the ability to integrate different elements or concepts in order to form a sound pattern or structure so a new meaning can be established. <br /><b>Key Words: (Arrange ,Assemble ,Collect ,Combine ,Comply ,Compose ,Construct ,Create ,Design ,Develop ,Devise ,Explain ,Formulate ,Generate ,Plan ,Prepare ,Rearrange ,Reconstruct ,Relate ,Reorganize ,Revise ,Rewrite ,Set up ,Synthesize ,Tell ,Write)</b></li>
          <li><b>Evaluation:</b> Evaluation is the ability to come up with judgments about the importance of concepts. <br /><b>Key Words: (Appraise,Argue,Assess,Choose,Compare,Conclude,Contrast,Defend,Describe,Discriminate,Estimate,Evaluate,Explain,Interpret,Judge,Justify,Predict,Rate,Relate,Select,Support,Value)</b></li>

        </ul>
        <h3>Affective:</h3>
        <ul class="margin-l30">
          <li><b>Receiving:</b> The receiving is the awareness of feelings, emotions, and the ability to utilize selected attention. <br /><b>Key Words: (Ask ,Acknowledge ,Attend (to) ,Follow ,Listen ,Meet ,Observe ,Receive)</b></li>
          <li><b>Responding to Phenomena:</b> Responding is active participation of the learner. <br /><b>Key Words: (Agree ,Allow ,Answer ,Ask ,Assist ,Attempt ,Choose ,Communicate ,Comply ,Conform ,Cooperate ,Demonstrate ,Describe ,Discuss ,Display ,Exhibit ,Follow ,Give ,Help ,Identify ,Locate ,Notify ,Obey ,Offer ,Participate (in) ,Present ,Read ,Relay ,Reply ,Report ,Respond ,Select ,Try)</b></li>
          <li><b>Valuing:</b> Valuing is the ability to see the worth of something and express it. Valuing is concerned with the worth you attach to a particular object, phenomenon, behavior, or piece of information. This level ranges from simple acceptance to the more complex state of commitment. <br /><b>Key Words: (Adopt ,Aid ,Care (for) ,Complete ,Complement ,Contribute ,Delay ,Encourage ,Endorse ,Enforce ,Evaluate ,Expedite ,Foster ,Guide ,Initiate ,Interact ,Join ,Justify ,Maintain ,Monitor ,Praise ,Preserve ,Propose ,Query ,React ,Respect ,Seek ,Share ,Study ,Subscribe ,Suggest ,Support ,Thank ,Uphold)</b></li>
          <li><b>Organization:</b> ability to prioritize a value over another and create a unique value system. <br /><b>Key Words: (Anticipate ,Collaborate ,Confer ,Consider ,Consult ,Coordinate ,Design ,Direct ,Establish ,Facilitate ,Follow through ,Investigate ,Judge ,Lead ,Manage ,Modify ,Organize ,Oversee ,Plan ,Qualify ,Recommend ,Revise ,Simplify ,Specify ,Submit ,Synthesize ,Test ,Vary ,Weigh)</b></li>
          <li><b>Characterization:</b> the ability to internalize values and let them control the person`s behavior. <br /><b>Key Words: (Act ,Administer ,Advance ,Advocate ,Aid ,Challenge ,Change ,Commit (to) ,Counsel ,Criticize ,Debate ,Defend ,Disagree ,Dispute ,Empathize ,Enhance ,Excuse ,Forgive ,Influence ,Motivate ,Negotiate ,Object ,Persevere ,Persist ,Praise ,Profess ,Promote ,Promulgate ,Question ,Reject ,Resolve ,Seek ,Serve ,Strive ,Solve ,Tolerate ,Volunteer (for))</b></li>
        </ul>

        <h3>Psychomotor:</h3>
        <ul class="margin-l30">
          <li><b>Perception:</b> the ability to apply sensory information to motor activity Set: the readiness to act. <br /><b>Key Words: (Choose,Describe,Detect,Differentiate,Distinguish,Identify,Isolate,,Relate,Select,Separate)</b></li>
          <li><b>Set:</b> Readiness to take action. <br /><b>Key Words: (Begin,Display,Explain,Move,Proceed,React,Respond,Show,Start,Volunteer)</b></li>
          <li><b>Guided Response:</b> the ability to imitate a displayed behavior or to utilize trial and error.<br /> <b>Key Words: (Assemble,Build,Calibrate,Construct,Dismantle,Display,Dissect,Fasten,Fix,Grind,Heat,Manipulate,Measure,Mend,Mix,Organize,Sketch,Work)</b></li>
          <li><b>Mechanism:</b> the ability to convert learned responses into habitual actions with proficiency and confidence. <br /><b>Key Words: (Assemble,Build,Calibrate,Construct,Dismantle,Display,Dissect,Fasten,Fix,Grind,Heat,Manipulate,Measure,Mend,Mix,Organize,Sketch,Work)</b></li>
          <li><b>Complex Overt Response:</b> the ability to skilfully perform complex patterns of actions. <br /><b>Key Words: (Assemble,Build,Calibrate,Construct,Dismantle,Display,Dissect,Fasten,Fix,Grind,Heat,Manipulate,Measure,Mend,Mix,Organize,Sketch,Work)</b></li>
          <li><b>Adaptation:</b> the ability to modify learned skills to meet special events.<br /> <b>Key Words: (Adapt,Alter,Change,Rearrange,Reorganize,Revise,Vary)</b></li>
          <li><b>Origination:</b> creating new movement patterns for a specific situation. <br /><b>Key Words: (Arrange,Combine,Compose,Construct,Design,Originate)</b></li>
        </ul>

      </div>

    </div>
  </div>
</div>
