<div class="tab-content main-tab-content dragging-area">
  <div class="tab-pane active" id="reports">
    <div class="tabs-menu">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" id="FrameworkMainTab" class="active"><a href="#framework-tab" role="tab" data-toggle="tab"><i class="icon app-icon-IconSet-1-75  padding-r5"></i> OBE framework</a></li>
        <li role="presentation" id="FrameworkSubTab" class="active" *ngIf="Is_Sub_Active">
          <a href="#Any-tab" role="tab" data-toggle="tab">
            <i class="icon app-icon-IconSet-1-75 padding-r5"></i>
            OBE Framework
            <span class="close-tab" title="" data-original-title="Close Tab" (click)="closeTab()"><i class="app-icon-IconSet-1-07"></i></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
