    <!-- Education -->
<div class="education-section">





  <!-- Modal for Adding Education -->
  <div class="modal fade width-50p" id="addEducationModal" tabindex="-1" aria-labelledby="addEducationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <div class="section-heading padding-b20">
            <h2 class="pull-left">Add Education</h2>
            <div class="pull-right">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="app-icon-IconSet-1-12"></i></button>
            </div>
          </div>
          <div class="clearfix"></div>


        </div>
        <form [formGroup]="educationForm" (ngSubmit)="addEducation()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="eduInstitute" class="form-label">Institute</label>
              <input type="text" id="eduInstitute" class="form-control" formControlName="eduInstitute" placeholder="Enter Institute Name" />
              <div *ngIf=" educationForm.get('eduInstitute')?.errors?.required && educationForm.get('eduInstitute')?.touched" class="text-danger">Institute Name is required </div>


            </div>
            <div class="mb-3">
              <label for="degree" class="form-label">Degree</label>
              <input type="text" id="degree" class="form-control" formControlName="degree" placeholder="Enter Degree" />
              <div *ngIf=" educationForm.get('degree')?.errors?.required && educationForm.get('degree')?.touched" class="text-danger">Degree is required </div>

            </div>
            <div class="mb-3">
              <label for="field" class="form-label">Field / Specialization</label>
              <input type="text" id="field" class="form-control" formControlName="field" placeholder="Enter Field of Study" />
              <div *ngIf=" educationForm.get('field')?.errors?.required && educationForm.get('field')?.touched" class="text-danger">Field / Specialization is required </div>

            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Year of Completion</label>
              <input type="number" id="year" class="form-control" formControlName="year" placeholder="Enter Year" />
              <div *ngIf=" educationForm.get('year')?.errors?.required && educationForm.get('year')?.touched" class="text-danger">Year of Completion is required </div>

            </div>


            <div class="form-group">
              <label for="imageFile">Upload Document(Image or PDF)</label>
              <input type="file" id="imageFile" (change)="onFileSelected($event)" class="form-control" formControlName="imageFile" />
              <div *ngIf="fileError" class="text-danger">{{ fileError }}</div>
            </div>

            <div class="row margin-t10">
              <div class="section-heading padding-b20">
                <h2 class="pull-left">View Added Education</h2>
                <button type="button" class="btn btn-primary pull-right" (click)="add()" [disabled]="!educationForm.valid">Add</button>
              </div>
            </div>

            <fieldset>
              <legend>Added Education</legend>

              <table class="table table-bordered table-hover table-theme ">
                <thead>
                  <tr>
                    <!--<th *ngFor="let field of formFields">{{ field.label }}</th>-->
                    <th>
                      Insititure
                    </th>
                    <th>Degree</th>
                    <th>
                      Field
                    </th>
                    <th>Year of Completion</th>
                    <th>Document </th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entry of tempData; let i = index">
                    <td>{{ entry.eduInstitute }}</td>
                    <td>{{ entry.degree }}</td>
                    <td>{{ entry.field }}</td>
                    <td>{{ entry.year }}</td>
                    <td>{{entry.imageFile.fileName}}</td>

                    <td>
                      <button type="button" class="btn btn-danger btn-sm" (click)="deleteEntry(i)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </fieldset>

          </div>

          <div class="modal-footer row">

            <button type="submit" class="btn btn-primary pull-right" [disabled]="tempData.length==0">Save</button>
            <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancel</button>

          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="section-heading padding-b20">
      <h2 class="pull-left">View Added Education</h2>
      <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addEducationModal">
        Add Education
      </button>
    </div>
   
  </div>
  <fieldset class="margin-b15">
    <legend>Education</legend>


    <table class="table table-bordered table-hover table-theme margin-b30">
      <thead>
        <tr>
          <th>Institution</th>
          <th>Degree</th>
          <th>Field/Specialization</th>
          <th>Year Of Completion</th>
          <th>Document</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let edu of educations">

          <td>{{ edu.EduInstitute  }}</td>
          <td>{{ edu.Degree  }}</td>
          <td>{{ edu.Field  }}</td>
          <td>{{ edu.Year  }}</td>
          <td>
            <span (click)="openFileViewer(edu.Image)" *ngIf="edu.Image!=null" style="cursor:pointer">
              <u>  {{ extractFileName(edu.Image) || 'NA'}}</u>
            </span>
          </td>
          <td align="center">
            <button (click)="confirmDelete(edu.EduID)" class="btn btn-default margin-r5">
              <i class="app-icon-IconSet-1-33 blue"></i>
            </button>
          </td>

        </tr>
        <tr *ngIf="educations.length === 0">
          <td align="center">N/A</td>
          <td align="center">N/A</td>
          <td align="center">N/A</td>
          <td align="center">N/A</td>
          <td align="center">N/A</td>
        </tr>

      </tbody>
    </table>


  </fieldset>

</div>
