    <!-- Education -->
<div class="education-section">
  <h2>Education</h2>
  <table class="table table-bordered table-hover table-theme margin-b30">
    <thead>
      <tr>
        <th>Institution</th>
        <th>Degree</th>
        <th>Field</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <!--<tr *ngFor="let edu of education">-->
      <tr>
        <td><!--{{ edu.institution }}--></td>
        <td><!--{{ edu.degree }}--></td>
        <td><!--{{ edu.field }}--></td>
        <td><!--{{ edu.year }}--></td>
      </tr>
    </tbody>
  </table>
</div>
