<div role="tabpanel" class="tab-pane" id="ExitSurveyForm">
  <h4 class="text-center">
    <b>Please respond to the following by selecting the most appropriate choice for candidate</b>
  </h4>
  <h4 class="text-center">
    <b>5: Very strong	   4: Strong	3: Moderate	  2: Weak	1: very Weak       0: Not applicable</b>
  </h4>
  <hr />
  <div class="table-responsive">
    <table class="table table-hover table-theme">
      <thead>
        <tr>
          <th width="3%" class="text-center">Sr. #</th>
          <th width="50%" class="text-left">Statements</th>
          <th width="15%" class="text-center">Mapped PLOs</th>
          <th width="5%" class="text-center">5</th>
          <th width="5%" class="text-center">4</th>
          <th width="5%" class="text-center">3</th>
          <th width="5%" class="text-center">2</th>
          <th width="5%" class="text-center">1</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">1</td>
          <td>Gained the ability to apply current scientific and engineering knowledge to solve complex engineering problems.</td>
          <td class="text-center">PLO-01</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion1" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion1" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion1" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion1" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion1" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td>Gained the ability to identify complex engineering problems and formulate solutions based on current scientific and engineering knowledge.</td>
          <td class="text-center">PLO-02</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion2" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion2" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion2" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion2" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion2" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">3</td>
          <td>Gained the ability to design and develop solutions for complex engineering problems while keeping in view health, safety and environmental considerations.</td>
          <td class="text-center">PLO-03</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion3" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion3" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion3" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion3" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion3" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">4</td>
          <td>Gained the ability to review and investigate complex engineering problems in a scientific way, starting from survey, inference and experimentation.</td>
          <td class="text-center">PLO-04</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion4" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion4" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion4" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion4" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion4" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">5</td>
          <td>Gained the ability to utilize modern tools for your problem solving, to provide solution for a complex engineering problem.</td>
          <td class="text-center">PLO-05</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion5" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion5" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion5" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion5" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion5" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">6</td>
          <td>Gained the ability to apply engineering knowledge to assess societal issues in a professional way, keeping in view the safety, legal and cultural constraints.</td>
          <td class="text-center">PLO-06</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion6" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion6" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion6" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion6" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion6" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">7</td>
          <td>Gained the ability to apply engineering knowledge to develop environmental friendly sustainable solutions.</td>
          <td class="text-center">PLO-07</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion7" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion7" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion7" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion7" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion7" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-center">8</td>
          <td>Gained the ability to apply ethical principles and commit to professional ethics and norms of engineering practice.</td>
          <td class="text-center">PLO-08</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion8" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion8" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion8" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion8" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion8" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-center">9</td>
          <td>
            Gained the ability to work independently as well as in a team.
          </td>
          <td class="text-center">PLO-09</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion9" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion9" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion9" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion9" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion9" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-center">10</td>
          <td>
            Gained the ability to communicate effectively (both orally and through writing) on complex engineering activities.
          </td>
          <td class="text-center">PLO-10</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion10" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion10" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion10" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion10" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion10" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-center">11</td>
          <td>
            Gained the ability to demonstrate management skills during degree.
          </td>
          <td class="text-center">PLO-11</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion11" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion11" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion11" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion11" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion11" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-center">12</td>
          <td>
            Gained the ability to realize the importance of continuous professional development throughout the life.
          </td>
          <td class="text-center">PLO-12</td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion12" value="5" checked>
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion12" value="4">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion12" value="3">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion12" value="2">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="form-group">
              <div class="radio-inline padding-t5 margin-r0">
                <input type="radio" name="ExitQuestion12" value="1">
                <label class="cursor-pointer"></label>
              </div>
            </div>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
  <div class="col-sm-12 margin-t5">
    <div class="form-group">
      <label class="control-label">Remarks about the overall experience in the department of program studies:</label>
      <textarea rows="6" class="form-control" style="resize: none;" id="ExitSurveyFormRemarks"></textarea>
    </div>
  </div>
  <div class="col-sm-12 margin-t5">
    <div class="form-group" style="float:right">
      <button class="btn btn-info" (click)="SaveExitForm()">Save</button>
    </div>
  </div>
</div>
