
<!-- Experience -->

<div class="experience-section" style="padding-bottom:30px;">

  <!-- Modal for Adding Experience -->
  <div class="modal fade" id="addExperienceModal" tabindex="-1" aria-labelledby="addExperienceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="section-heading">
            <h2 class="pull-left">Add Experience</h2>
            <div class="pull-right">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="app-icon-IconSet-1-12"></i></button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <form [formGroup]="experienceForm" (ngSubmit)="addExperience()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="position" class="form-label">Position</label>
              <input type="text" id="position" class="form-control" formControlName="Position" placeholder="Enter Position" />
              <div *ngIf=" experienceForm.get('Position')?.errors?.required && experienceForm.get('Position')?.touched" class="text-danger">Position is required </div>


            </div>
            <div class="mb-3">
              <label for="company" class="form-label">Company</label>
              <input type="text" id="company" class="form-control" formControlName="Company" placeholder="Enter Company Name" />
              <div *ngIf="experienceForm.get('Company')?.errors?.required && experienceForm.get('Company')?.touched" class="text-danger">Position is required </div>

            </div>
            <div class="mb-3">
              <label for="startDate" class="form-label">Start Date</label>
              <input type="date" id="startDate" class="form-control" formControlName="StartDate" />
              <div *ngIf="experienceForm.get('StartDate')?.errors?.required && experienceForm.get('StartDate')?.touched" class="text-danger">Position is required </div>

            </div>
            <div class="mb-3">

              <input type="checkbox"
                     id="currentlyWorking"
                     (change)="onCurrentlyWorkingChange($event)" />

              <label for="currentlyWorking" class="form-label">Currently Working</label>

            </div>
            <div class="mb-3">
              <label for="endDate" class="form-label">End Date</label>
              <input type="date"
                     id="endDate"
                     class="form-control"
                     formControlName="EndDate"
                     [disabled]="currentlyWorking" />
              <!--   <div *ngIf="experienceForm.endDate.errors.required" class="text-danger">Position is required </div>-->

            </div>

            <div class="form-group">
              <label for="imageFile">Upload Document(Image or PDF)</label>
              <input type="file" id="imageFile" (change)="onFileSelected($event)" class="form-control" formControlName="imageFile" />
              <div *ngIf="fileError" class="text-danger">{{ fileError }}</div>
            </div>




            <button type="button" class="btn btn-primary pull-right" (click)="add()" [disabled]="!experienceForm.valid">Add</button>
            <table class="table mt-3">
              <thead>
                <tr>
                  <!--<th *ngFor="let field of formFields">{{ field.label }}</th>-->
                  <th>
                    Position
                  </th>
                  <th>Company</th>
                  <th>
                    Field
                  </th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Document</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let entry of tempData; let i = index">
                  <td>{{ entry.Position }}</td>
                  <td>{{ entry.Company }}</td>
                  <td>{{ entry.Field }}</td>
                  <td>{{ entry.StartDate }}</td>
                  <td>{{ entry.EndDate || 'Present' }}</td>
                  <td>{{entry.imageFile.fileName}}</td>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteEntry(i)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-right" [disabled]="tempData.length==0">Add</button>
            <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancel</button>

          </div>
        </form>
      </div>
    </div>
  </div>



  <fieldset class="margin-b15">
    <legend>Experience</legend>

    <div class="pull-right">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addExperienceModal">
        Add Experience
      </button>
    </div>

    <table class="table table-bordered table-hover table-theme margin-b30">
      <thead>
        <tr>
          <th>Company</th>
          <th>Position</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Document</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exp of exper;">

          <td>{{ exp.Position }}</td>
          <td>{{ exp.Company }}</td>
          <td>{{ exp.StartDate | date: 'yyyy-MM-dd' }}</td>
          <td>{{ exp.EndDate ? (exp.EndDate | date: 'yyyy-MM-dd') : 'Present' }}</td>
          <td>
            <span (click)="openFileViewer(exp.Image)" *ngIf="exp.Image!=null" style="cursor:pointer">
              <u>  {{ extractFileName(exp.Image) || 'NA'}}</u>
            </span>
          </td>
          <td align="center">
            <button (click)="confirmDelete(exp.ExpID)" class="btn btn-default margin-r5">
              <i class="app-icon-IconSet-1-33 blue"></i>
            </button>
          </td>
        </tr>

        <tr *ngIf="exper.length === 0">
          <td align="center">N/A</td>
          <td align="center">N/A</td>
          <td align="center">N/A</td>
          <td align="center">N/A</td>
          <td align="center">N/A</td>
        </tr>


      </tbody>
    </table>


  </fieldset>
</div>
