
<!-- Experience -->

<div class="experience-section" style="padding-bottom:30px;">

  <!-- Modal for Adding Experience -->
  <div class="modal fade width-50p" id="addExperienceModal" tabindex="-1" aria-labelledby="addExperienceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="section-heading padding-b20">
            <h2 class="pull-left">Add Experience</h2>
            <div class="pull-right">
              <button type="button" class="close" (click)="CloseModal()"  data-dismiss="modal" aria-label="Close"><i class="app-icon-IconSet-1-12"></i></button>
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
        <div class="modal-body">
          <form [formGroup]="experienceForm" (ngSubmit)="addExperience()">

            <div class="mb-3">
              <label for="position" class="form-label">Position</label>
              <input type="text" id="position" class="form-control" formControlName="Position" placeholder="Enter Position" />
              <div *ngIf=" experienceForm.get('Position')?.errors?.required && experienceForm.get('Position')?.touched" class="text-danger">Position is required </div>


            </div>
            <div class="mb-3">
              <label for="company" class="form-label">Company</label>
              <input type="text" id="company" class="form-control" formControlName="Company" placeholder="Enter Company Name" />
              <div *ngIf="experienceForm.get('Company')?.errors?.required && experienceForm.get('Company')?.touched" class="text-danger">Company is required </div>

            </div>
            <div class="mb-3 ">
              <label for="startDate" class="form-label">Start Date</label>
              <div class="input-group">
                <input id="startDate" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" placeholder="Start Date" class="form-control " formControlName="StartDate" (Change)="onDateChange($event.value, 'StartDate')"  />
                <span class="input-group-addon "><i class="fas fa-calendar-alt"></i></span>
                </div>
                <owl-date-time #dt4 [pickerType]="'calendar'"></owl-date-time>
                <div *ngIf="experienceForm.get('StartDate')?.errors?.required && experienceForm.get('StartDate')?.touched" class="text-danger">Start Date is required </div>

              </div>
              <div class="mb-3">

                <input type="checkbox"
                       id="currentlyWorking"
                       (change)="onCurrentlyWorkingChange($event)" />

                <label for="currentlyWorking" class="form-label">Currently Working</label>

              </div>
              <div class="mb-3">
                <label for="EndDate" class="form-label">End Date</label>
                <div class="input-group">
                  <input id="EndDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="End Date"
                         class="form-control "
                         formControlName="EndDate"
                    
                         (Change)="onDateChange($event.value, 'EndDate')" 
                         />
                  <span class="input-group-addon "><i class="fas fa-calendar-alt"></i></span>
                </div>
                <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                <!--   <div *ngIf="experienceForm.endDate.errors.required" class="text-danger">Position is required </div>-->

              </div>

              <div class="form-group">
                <label for="imageFile">Upload Document(Image or PDF)</label>
                <input type="file" id="imageFile" (change)="onFileSelected($event)" (click)="ClearImage()" class="form-control" formControlName="imageFile" />
                <div *ngIf="fileError" class="text-danger">{{ fileError }}</div>
              </div>








</form>
       

          <div class="row margin-t10">
            <div class="section-heading padding-b30">
              <h2 class="pull-left">View Added Experience</h2>
              <button type="button" class="btn btn-primary pull-right" (click)="add()" [disabled]="!experienceForm.valid">Add</button>
            </div>
          </div>

          <div class="row">
            <fieldset class="col-sm-12">
              <legend>Added Experience</legend>
              <table class="table table-bordered table-hover table-theme ">
                <thead>
                  <tr>
                    <!--<th *ngFor="let field of formFields">{{ field.label }}</th>-->
                    <th>
                      Position

                    </th>
                    <th>Company</th>
                    <th>
                      Field
                    </th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Document</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entry of tempData; let i = index">
                    <td>{{ entry?.Position }}</td>
                    <td>{{ entry?.Company }}</td>
                    <td>{{ entry?.Field }}</td>
                    <td>{{ FormateDate(entry?.StartDate) }}</td>
                    <td>{{ FormateDate(entry?.EndDate) || 'Present' }}</td>
                    <td>{{entry?.imageFile?.fileName || 'NA'}}</td>
                    <td>
                      <button type="button" class="btn btn-default" (click)="deleteEntry(i)">  <i class="app-icon-IconSet-1-33 blue"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer margin-t20">
          <button type="submit" class="btn btn-info pull-right" (click)="addExperience()" [disabled]="tempData.length==0">Save</button>
          <button type="button" class="btn btn-default pull-right" (click)="CloseModal()"  data-dismiss="modal">Cancel</button>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-heading padding-b30">
      <h2 class="pull-left">Experience</h2>
      <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addExperienceModal">
        Add Experience
      </button>
    </div>
   
  </div>
  <fieldset class="margin-b15">
    <legend>Experience</legend>

    

    <table class="table table-bordered table-hover table-theme margin-b30">
      <thead>
        <tr>
          <th>Company</th>
          <th>Position</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Document</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exp of exper;">

          <td>{{ exp.Position }}</td>
          <td>{{ exp.Company }}</td>
          <td>{{ exp.StartDate | date: 'yyyy-MM-dd' }}</td>
          <td>{{ exp.EndDate ? (exp.EndDate | date: 'yyyy-MM-dd') : 'Present' }}</td>
          <td>
            <span (click)="openFileViewer(exp.Image)" *ngIf="exp.Image!=null" style="cursor:pointer">
              <u>  {{ extractFileName(exp.Image) || 'NA'}}</u>
            </span>
          </td>
          <td align="center">
            <button (click)="confirmDelete(exp.ExpID)" class="btn btn-default margin-r5">
              <i class="app-icon-IconSet-1-33 blue"></i>
            </button>
          </td>
        </tr>

        <tr *ngIf="exper.length === 0">
          <td align="center">N/A</td>
          <td align="center">N/A</td>
          <td align="center">N/A</td>
          <td align="center">N/A</td>
          <td align="center">N/A</td>
        </tr>


      </tbody>
    </table>


  </fieldset>
</div>
