
<!-- Experience -->

<div class="experience-section">
  <h2>Experience</h2>
  <table class="table table-bordered table-hover table-theme margin-b30">
    <thead>
      <tr>
        <th>Company</th>
        <th>Position</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let exp of experience">-->
      <tr>
        <td><!--{{ exp.company }}--></td>
        <td><!--{{ exp.position }}--></td>
        <td><!--{{ exp.startDate }}--></td>
        <td><!--{{ exp.endDate }}--></td>
      </tr>
    </tbody>
  </table>
</div>
