@page
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/assets/login/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="~/assets/images/Bahria-Uni.png" rel="shortcut icon" type="image/png">
    <script src="~/assets/login/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/login/SweetAlert.js"></script>
    <title>OBE Portal</title>

    <style>
        @@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

        body {
            margin: 0;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1.6;
            color: #212529;
            text-align: left;
            background-color: #f5f8fa;
            overflow-y: hidden;
        }

        .navbar-laravel {
            background: #0864a6;
        }

        .navbar-brand, .nav-link, .my-form, .login-form {
            font-family: Raleway, sans-serif;
        }

        .my-form {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

            .my-form .row {
                margin-left: 0;
                margin-right: 0;
            }

        .login-form {
            padding-top: 4.5rem;
            padding-bottom: 1.5rem;
        }

            .login-form .row {
                margin-left: 0;
                margin-right: 0;
            }

        .color-white {
            color: white !important;
        }

        .footer-fixed {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }

        .hidden {
            display: none;
        }

        .link_custom {
            float: right;
            padding-right: 0px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <span class="navbar-brand color-white">
                <img src="~/assets/images/Bahria-Uni.png" height="65" width="95" alt="logo" />
                <b>Welcome to OBE Portal <p style="margin-left: 102px;margin-top: -25px;font-size: 35px;font-weight: bold;">Bahria University</p> </b>
            </span>
        </div>
    </nav>

    <main class="login-form hidden" id="ResetPasswordMainDiv">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header"><strong id="FormHeader">Set New Password</strong></div>
                        <div class="card-body">
                            <form method="post" id="UpdateNewPassword">
                                <div role="alert" class="hidden" id="AlertMessageForgotPassword"></div>
                                <div class="form-group">
                                    <label for="Username" class="control-label"><b>New Password:</b></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        </div>
                                        <input style="font-size:12px" name="NewPassword" id="NewPassword" class="form-control" type="password" placeholder="Enter New Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Password" class="control-label"><b>Confirm Password</b></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                        </div>
                                        <input style="font-size:12px" name="ConfirmPassword" id="ConfirmPassword" class="form-control" type="password" placeholder="Enter Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="SendLink" type="submit" class="btn col-lg-12" style="color: #fff; background-color: #0864a6;border-color: #0864a6;">
                                        Update Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer-fixed">
        <article style="background: #025a99 !important;">
            <div class="card-body text-center">
                <h5 class="text-white">Outcome-Based Education <br> Powered By Bahria University </h5>
            </div>
        </article>
    </footer>
    <script>
        var User_Token = "";
        var IsStudent = false;
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
        $(document).ready(function (e) {
            $("#NewPassword").focus();
            var Token = getUrlParameter('Token');
            $.ajax({
                type: 'POST',
                url:  '@Url.Content("/Home/Check_For_Valid_Token")',
                data: JSON.stringify(Token),
                processData: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                Accept: "application/json",
                beforeSend: function () {
                },
                success: function (response) {
                    if (response!=null) {
                        User_Token = Token;
                        IsStudent = response.IsStudent;
                        $("#NewPassword").focus();
                        $('#submit').removeAttr('disabled', 'disabled');
                        $("#ResetPasswordMainDiv").removeClass('hidden');
                    }
                    else {
                        swal({
                            title: "Reset Password Status",
                            text: "Reset Password link is expired. Please request for new link",
                            icon: "error",
                        });
                    }
                },
                error: function (response) {
                    swal({
                        title: "Reset Password Status",
                        text: "Reset Password link is expired. Please request for new link",
                        icon: "error",
                    });
                }
            });
        });
        $("#UpdateNewPassword").submit(function (e) {
            e.preventDefault();
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#AlertMessageForgotPassword").addClass('alert alert-danger');
                $("#AlertMessageForgotPassword").html('New Password and Confirm Passowrd is not matched');
                $("#AlertMessageForgotPassword").removeClass('hidden');
                $("#NewPassword").addClass('is-invalid');
                $("#ConfirmPassword").addClass('is-invalid');
                return
            } else if ($("#NewPassword").val() =="" || $("#ConfirmPassword").val()=="") {
                $("#AlertMessageForgotPassword").addClass('alert alert-danger');
                $("#AlertMessageForgotPassword").html('New Password and Confirm Passowrd is required');
                $("#AlertMessageForgotPassword").removeClass('hidden');
                $("#NewPassword").addClass('is-invalid');
                $("#ConfirmPassword").addClass('is-invalid');
                return
            }
                else {
                $("#AlertMessageForgotPassword").removeClass('alert alert-danger');
                $("#AlertMessageForgotPassword").html('Processing your request..')
                $("#AlertMessageForgotPassword").addClass('alert alert-primary');
                $("#AlertMessageForgotPassword").removeClass('hidden');
                $("#NewPassword").removeClass('is-invalid');
                $("#ConfirmPassword").removeClass('is-invalid');
            }
            var User_Credentials_Request = {};
            User_Credentials_Request.Token = User_Token;
            User_Credentials_Request.New_Password = $("#NewPassword").val();
            User_Credentials_Request.IsStudent = IsStudent;
            
            $.ajax({
                type: 'POST',
                url:  '@Url.Content("/Home/Update_Password")',
                data: JSON.stringify(User_Credentials_Request),
                processData: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                Accept: "application/json",
                beforeSend: function () {
                    $("#AlertMessageForgotPassword").removeClass('alert alert-danger');
                    $("#AlertMessageForgotPassword").html('Processing your request..')
                    $("#AlertMessageForgotPassword").addClass('alert alert-primary');
                    $("#AlertMessageForgotPassword").removeClass('hidden');
                    $("#NewPassword").removeClass('is-invalid');
                    $("#ConfirmPassword").removeClass('is-invalid');
                    $('#submit').attr('disabled', 'disabled');
                },
                success: function (response) {
                    if (response) {
                        $('#submit').removeAttr('disabled', 'disabled');
                        $("#AlertMessageForgotPassword").removeClass('alert alert-primary');
                        $("#AlertMessageForgotPassword").removeClass('alert alert-danger');
                        $("#AlertMessageForgotPassword").addClass('alert alert-success');
                        $("#AlertMessageForgotPassword").html('Password updated successfully');
                        $("#NewPassword").removeClass('is-invalid');
                        $("#ConfirmPassword").removeClass('is-invalid');
                        setTimeout(function () { window.location.href = '/home'; }, 2000);
                    }
                    else {
                        $("#NewPassword").focus();
                        $("#AlertMessageForgotPassword").removeClass('alert alert-primary');
                        $("#AlertMessageForgotPassword").addClass('alert alert-danger');
                        $("#AlertMessageForgotPassword").html('Some error occrured while processing your request. Please contact to admin');
                        $("#NewPassword").addClass('is-invalid');
                        $("#ConfirmPassword").addClass('is-invalid');
                        $('#submit').removeAttr('disabled', 'disabled');
                    }
                },
                error: function (response) {
                    $("#NewPassword").focus();
                    $("#AlertMessageForgotPassword").removeClass('alert alert-primary');
                    $("#AlertMessageForgotPassword").addClass('alert alert-danger');
                    $("#AlertMessageForgotPassword").html('Some error occrured while processing your request. Please contact to admin');
                    $("#NewPassword").addClass('is-invalid');
                    $("#ConfirmPassword").addClass('is-invalid');
                    $('#submit').removeAttr('disabled', 'disabled');
                }
            });
        })

    </script>

</body>
</html>
