<div role="tabpanel" class="tab-pane active" id="IndirectAssessment-tab">
  <div class="container">
    <h2>Create New Survey</h2>
    <form (ngSubmit)="onSubmit()">
      <!-- Survey Main Details -->
      <fieldset>
        <legend>Survey Type</legend>
        <div class="form-group col-sm-12">
          <label for="surveyType" class="col-sm-1">Survey Type:</label>
          <select id="surveyType" [(ngModel)]="surveyMainDetail.SurveyType" name="surveyType" class="col-sm-3" (change)="getSurvey($event.target.value)" required>
            <option value="CSP">CSP</option>
            <option value="Internship">Internship</option>
            <option value="Exit">Exit</option>
            <option value="Alumni">Alumni</option>
            <option value="Employer">Employer</option>
          </select>
        </div>
      </fieldset>

      <!-- Add Question Form -->
      <fieldset class="">
        <legend>Add Question</legend>
        <div class="form-group col-sm-12">
          <label for="question" class="col-sm-1">Question:</label>
          <input type="text" id="question" [(ngModel)]="newQuestion.Question" name="question" class="col-sm-3" required>
        </div>
        <div class="form-group col-sm-12">
          <label for="qType" class="col-sm-1">Question Type:</label>
          <select id="qType" [(ngModel)]="newQuestion.QType" name="qType" class="col-sm-3" required>
            <option value="Multiple Choice">Multiple Choice</option>
            <option value="Text">Text</option>
            <option value="Likert">Likert</option>
          </select>
        </div>
        <div class="form-group col-sm-12">
          <label for="mapping" class="col-sm-1">Mapping:</label>
          <input type="text" id="mapping" [(ngModel)]="newQuestion.Mapping" name="mapping" class="col-sm-3">
        </div>

        <!-- Options for Multiple Choice Questions -->
        <div *ngIf="newQuestion.QType === 'Multiple Choice'" class="col-sm-6">
          <fieldset>
            <legend>Options</legend>
            <div *ngFor="let option of newQuestion.Options; let j = index" class="col-sm-12">
              <label for="option{{j}}" class="col-sm-2">Option {{ j + 1 }}:</label>
              <input type="text" id="option{{j}}" [(ngModel)]="newQuestion.Options[j]" name="option{{j}}" class="col-sm-4" required>
              <button type="button" (click)="removeOption(j)" class="btn btn-danger btn-sm">Remove Option</button>
            </div>
            <button type="button" class="btn btn-primary pull-right" (click)="addOption()">Add Option</button>
          </fieldset>
        </div>

        <!-- Add Question Button -->

      </fieldset>
      <button type="button" (click)="addQuestion()" class="btn btn-primary pull-right margin-t20">Add Question</button>
    </form>
    <div class="clearfix"></div>
    <!-- Questions Table -->
    <h3>Questions</h3>
    <table class="table table-bordered table-theme table-hover table-theme margin-t30 margin-b20">
      <thead>
        <tr>
          <th>Question</th>
          <th>Type</th>
          <th>Mapping</th>
          <th>Options</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of surveySubDetails; let i = index">
          <td>{{ question.Question }}</td>
          <td>{{ question.QType }}</td>
          <td>{{ question.Mapping }}</td>
          <td class="padding-l10">
            <ul>
              <li *ngFor="let option of question.Options">{{ option }}</li>
            </ul>
          </td>
          <td>
            <button type="button" (click)="removeQuestion(i)" class="btn btn-danger btn-sm">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Submit Button -->
    <button type="button" (click)="onSubmit()" class="btn btn-primary pull-right">Save Questions</button>
  </div>


  <div class="col-sm-12">

    <div *ngIf="SurveyData">
      <h2>{{ SurveyData.SurveyType }}</h2>

      <form [formGroup]="surveyForm" (ngSubmit)="submitSurvey()">
        <div class="table-responsive" style="max-height: 40vh;overflow-y:scroll">
          <table class="table table-hover table-theme">
            <thead>
              <tr>
                <th>Statement</th>
                <th>Mapping</th>
                <th>Answer</th>
                <th>Action</th>
              </tr>

            </thead>
            <!--<div *ngFor="let question of SurveyData.Questions">-->

            <tr *ngFor="let question of SurveyData.Questions">
              <td> <label>{{ question.Question }}</label></td>
              <td class="text-center">{{ question.Mapping }}</td>
              <td>
                <input *ngIf="question.QType === 'Text'" type="text" [formControlName]="question.QID" />

                <!-- Radio Buttons for Multiple Choice -->
                <div *ngIf="question.QType === 'Multiple Choice'">

                  <div class="pull-left radio-inline padding-t5" *ngFor="let option of question.Options">
                    <input type="radio" [formControlName]="question.QID" [value]="option.Options">
                    <label class="cursor-pointer">{{ option.Options }}</label>

                  </div>
                </div>
                <div *ngIf="question.QType === 'Likert'">

                  <div class="pull-left radio-inline padding-t5" *ngFor="let num of [1, 2, 3, 4, 5]">
                    <input type="radio" [formControlName]="question.QID" [value]="num">
                    <label class="cursor-pointer">{{ num }}</label>

                  </div>

                </div>
              </td>
              <td>
                <button type="button" class="btn btn-default margin-r5" (click)="deleteQuestion(question.QID)">
                  <i class="app-icon-IconSet-1-33 blue"></i>

                </button>
              </td>
             
            </tr>
          </table>
          </div>
          <button type="submit" [disabled]="surveyForm.invalid">Submit</button>
</form>
</div>
   



  </div>








</div>
