<div role="tabpanel" class="tab-pane active" id="IndirectAssessment-tab">
  <div class="container">
    <h2>Create New Survey</h2>
    <form (ngSubmit)="onSubmit()">
      <!-- Survey Main Details -->
      <fieldset>
        <legend>Survey Type</legend>
        <div class="form-group col-sm-12">
          <label for="surveyType" class="col-sm-1">Survey Type:</label>
          <select id="surveyType" [(ngModel)]="surveyMainDetail.SurveyType" name="surveyType" class="col-sm-3" required>
            <option value="CSP">CSP</option>
            <option value="Internship">Internship</option>
            <option value="Exit">Exit</option>
            <option value="Alumni">Alumni</option>
            <option value="Employer">Employer</option>
          </select>
        </div>
      </fieldset>

      <!-- Add Question Form -->
      <fieldset>
        <legend>Add Question</legend>
        <div class="form-group col-sm-12">
          <label for="question" class="col-sm-1">Question:</label>
          <input type="text" id="question" [(ngModel)]="newQuestion.Question" name="question" class="col-sm-3" required>
        </div>
        <div class="form-group col-sm-12">
          <label for="qType" class="col-sm-1">Question Type:</label>
          <select id="qType" [(ngModel)]="newQuestion.QType" name="qType" class="col-sm-3" required>
            <option value="Multiple Choice">Multiple Choice</option>
            <option value="Text">Text</option>
          </select>
        </div>
        <div class="form-group col-sm-12">
          <label for="mapping" class="col-sm-1">Mapping:</label>
          <input type="text" id="mapping" [(ngModel)]="newQuestion.Mapping" name="mapping" class="col-sm-3">
        </div>

        <!-- Options for Multiple Choice Questions -->
        <div *ngIf="newQuestion.QType === 'Multiple Choice'" class="col-sm-6">
          <fieldset>
            <legend>Options</legend>
            <div *ngFor="let option of newQuestion.Options; let j = index" class="col-sm-12">
              <label for="option{{j}}" class="col-sm-2">Option {{ j + 1 }}:</label>
              <input type="text" id="option{{j}}" [(ngModel)]="newQuestion.Options[j]" name="option{{j}}" class="col-sm-4" required>
              <button type="button" (click)="removeOption(j)" class="btn btn-danger btn-sm">Remove Option</button>
            </div>
            <button type="button" class="btn btn-primary pull-right" (click)="addOption()">Add Option</button>
          </fieldset>
        </div>

        <!-- Add Question Button -->

      </fieldset>
      <button type="button" (click)="addQuestion()" class="btn btn-primary pull-right margin-t20">Add Question</button>
    </form>
    <div class="clearfix"></div>
    <!-- Questions Table -->
    <h3>Questions</h3>
    <table class="table table-bordered table-theme table-hover table-theme margin-t30 margin-b20">
      <thead>
        <tr>
          <th>Question</th>
          <th>Type</th>
          <th>Mapping</th>
          <th>Options</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of surveySubDetails; let i = index">
          <td>{{ question.Question }}</td>
          <td>{{ question.QType }}</td>
          <td>{{ question.Mapping }}</td>
          <td class="padding-l10">
            <ul>
              <li *ngFor="let option of question.Options">{{ option }}</li>
            </ul>
          </td>
          <td>
            <button type="button" (click)="removeQuestion(i)" class="btn btn-danger btn-sm">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Submit Button -->
    <button type="button" (click)="onSubmit()" class="btn btn-primary pull-right">Create Survey</button>
  </div>











</div>
