@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f5f8fa;
  overflow-y: hidden;
}

.navbar-laravel {
  background: #0864a6;
}

.navbar-brand, .nav-link, .my-form, .login-form {
  font-family: Raleway, sans-serif;
}

.my-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

  .my-form .row {
    margin-left: 0;
    margin-right: 0;
  }

.login-form {
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
}

  .login-form .row {
    margin-left: 0;
    margin-right: 0;
  }

.color-white {
  color: white !important;
}

.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
