<nav class="nav-sidebar main-sidebar">
  <ul class="nav tabs">


    <li class="active" *ngIf="IsStudent"><a data-toggle="tab"> <i class="icon app-icon-EHR-Nav-Icons-02"></i> Dashboard </a></li>
    <li *ngIf="!IsStudent" data-toggle="tab" routerLinkActive="active"><a [routerLink]="['dashboard']" data-toggle="tab"> <i class="icon app-icon-EHR-Nav-Icons-02"></i> Dashboard </a></li>
    <li *ngIf="!IsStudent" data-toggle="tab" routerLinkActive="active"><a [routerLink]="['framework']" data-toggle="tab"> <i class="icon app-icon-EHR-Nav-Icons-05"></i> Framework </a></li>
    <li *ngIf="Is_Permission_Reports_Side_Bar && !IsStudent" data-toggle="tab" data-position='right' routerLinkActive="active"><a [routerLink]="['reports']" data-toggle="tab"> <i class="icon app-icon-IconSet-1-80"></i> Reports </a></li>
    <li *ngIf="Is_Permission_Indirect_Assessment_Side_Bar && !IsStudent" data-toggle="tab" data-position="right" routerLinkActive="active"><a [routerLink]="['indirectAssessment']" data-toggle="tab"> <i class="icon app-icon-IconSet-1-27"></i> Indirect Assessments    </a></li>
    <li *ngIf="Is_Permission_Setting_Side_Bar && !IsStudent" data-toggle="tab" data-position="right" routerLinkActive="active"><a [routerLink]="['settings']" data-toggle="tab"> <i class="icon app-icon-IconSet-1-75"></i> Settings </a></li>
    <li data-toggle="tab" data-position="right" routerLinkActive="active"><a [routerLink]="'PLOS'" data-toggle="tab"> <i class="icon app-icon-IconSet-1-28"></i> PLOs </a></li>
 <!--   <li data-toggle="tab" data-position="right" routerLinkActive="active"><a [routerLink]="['Profile']" data-toggle="tab"> <i class="icon app-icon-IconSet-1-80"></i> CV </a></li>-->

  </ul>
</nav>
