<div role="tabpanel" class="tab-pane active">
  <div class="section-heading padding-b5">
    <h2>Assessment </h2>

  </div>
  <!-- Modal -->
  <div class="modal fade" id="addDataModal" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addDataModalLabel">Add Assessment Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="dataForm" (ngSubmit)="addData()">
          <div class="modal-body">
          
            <div class="row">
              <ng-container *ngFor="let field of formFields; let i = index">
                <!-- Field -->
                <div class="col-md-4 mb-3">
                  <label [for]="field.name" class="form-label">{{ field.label }}</label>
                  <input [type]="field.type"
                         [id]="field.name"
                         class="form-control"
                         [formControlName]="field.name"
                         [placeholder]="'Enter ' + field.label" />
                </div>

                <ng-container *ngIf="(i + 1) === 3">
                  <div class="w-100"></div>
                  <!-- Separator Line -->
                  <hr class="my-4" />
                </ng-container>
              </ng-container>
              <!--<div class="col-md-6 mb-3" *ngFor="let field of formFields; let i = index">

                <label [for]="field.name" class="form-label">{{ field.label }}</label>
                <input [type]="field.type"
                       [id]="field.name"
                       class="form-control"
                       [formControlName]="field.name"
                       [placeholder]="'Enter ' + field.label" />

              </div>
              <div class="w-100" *ngIf="(i + 1) % 3 === 0"></div>-->
            </div>

              <table class="table mt-3" *ngIf="dataTable.length > 0">
                <thead>
                  <tr>
                    <!--<th *ngFor="let field of formFields">{{ field.label }}</th>-->
                    <th>
                      Assessment Type
                    </th>
                    <th>Percentage</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entry of dataTable; let i = index">
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                    <td>
                      <button class="btn btn-danger btn-sm" (click)="deleteEntry(i)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-success" [disabled]="dataTable.length === 0" (click)="saveData()">Save All</button>
          </div>
        </form>

      </div>


    </div>
  </div>

  <div class="modal fade" id="SelectModal" tabindex="-1" aria-labelledby="SelectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SelectModalLabel">Select Assessment Scheme</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form style="padding:10px;">
          <label class="control-label">Select Scheme <span class="text-danger">*</span></label>
          <select id="schemeID" class="form-control" (change)="GetAScheme()">
            <option value="0">Select Scheme</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>

          <br />
          <br />
          <br />
          <br />
          <h3>Assessment Details</h3>
          <div class="table-responsive" style="max-height: 34vh;overflow-y:auto">
            <table class="table table-hover table-theme margin-b30">
              <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Assignment</th>
                  <th>Quiz</th>
                  <th>Course Mids</th>

                  <th>Course Finals</th>
                  <th>Assessment</th>
                  <th>Journals</th>
                  <th>Open Ended Labs</th>
                  <th>Lab Mids</th>

                  <th>Lab Finals</th>
                  <th>Passing Criteria  </th>
                  <th>CLO Passing Priteria</th>

                  <th>PLO Passing Priteria</th>



                </tr>
              </thead>

              <tbody>
                <!--<ng-container *ngFor="let i of All_PLOS | filter:query">
                  <tr>
                    <td align="center">{{i.Sr_Number}}</td>
                    <td align="center">
                      <b class="blue">
                        <span [innerHTML]="i.PLO_Title | highlight:query"></span>
                      </b>
                    </td>
                    <td>  <span [innerHTML]="i.PLO_Description | highlight:query"></span></td>
                    <td> <label onclick="">Delete</label></td>





                  </tr>
                </ng-container>-->
              </tbody>
            </table>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Select</button>
            </div>


          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Display shared Component -->
  <app-searchForm  (dataEmitter)="receiveData($event)" ></app-searchForm>
  <div style="clear:both;"></div>
  <div class="row">
    <div class="col-12">
      <div class="pull-right">
        <button type="button" class="btn btn-info" (click)="GetAScheme()">
          Search
        </button>
      </div>
    </div>
  </div>



<div class="row" style="margin-top:5px;">
  <div class="col-12">
    <div class="pull-right">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addDataModal">
        Add New Scheme
      </button>

      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#SelectModal" style="margin-left:5px;">
        Select Assessment Scheme
      </button>
    </div>
  </div>
</div>

<div style="clear:both;"></div>

<div class="section-heading">
  <h2>Current Assessment Scheme</h2>
</div>


<div class="table-responsive" style="max-height: 34vh;overflow-y:auto">
  <table class="table table-hover table-theme margin-b30">
    <thead>
      <tr>
        <th>Sr#</th>
        <th>Assignment</th>
        <th>Quiz</th>
        <th>Course Mids</th>

        <th>Course Finals</th>
        <th>Assessment</th>
        <th>Journals</th>
        <th>Open Ended Labs</th>
        <th>Lab Mids</th>

        <th>Lab Finals</th>
        <th>Passing Criteria  </th>
        <th>CLO Passing Priteria</th>

        <th>PLO Passing Priteria</th>

        <th>Actions</th>

      </tr>
    </thead>

    <tbody>
      <!--<ng-container *ngFor="let i of All_PLOS | filter:query">
        <tr>
          <td align="center">{{i.Sr_Number}}</td>
          <td align="center">
            <b class="blue">
              <span [innerHTML]="i.PLO_Title | highlight:query"></span>
            </b>
          </td>
          <td>  <span [innerHTML]="i.PLO_Description | highlight:query"></span></td>
          <td> <label onclick="">Delete</label></td>





        </tr>
      </ng-container>-->
    </tbody>
  </table>
</div>

  </div>
